<article id="share-data" name="share-data">
  <!-- Cabeçalho -->
  <section id="cabecalho" name="cabecalho" class="cabecalho container-fluid">
    <header>
      <h1 class="text-center">
        {{title}}
      </h1>
    </header>

    <div class="container">
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="row">
          <app-form></app-form>
      </div>
    </div>
  </section>

  <!-- Visualização de tabela e gráfico de participação -->
  <section id="share-data-area" name="share-data-area" class="container">
    <h2 class="text-center">DADOS</h2>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <section id="share-table" name="share-data" class="col-sm-6 col-md-6">
      <!-- Tabela de participação -->
      <table class="table table-bordered table-hover">
        <!-- Cabeçalho da tabela -->
        <thead>
          <tr>
            <th></th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Participação</th>
          </tr>
        </thead>

        <!-- Corpo da tabela -->
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.lastname }}</td>
            <td>{{ employee.share / total_share | percent }}</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- Gráfico -->
    <section id="chart-area" name="chart-area" class="col-sm-6 col-md-6">
        <chart id="share-data-chart" name="share-data-chart" [type]="chart_type" [data]="chart_data" [options]="chart_options"></chart>
    </section>
  </section>
</article>
