<article id="share-data" name="share-data">
  <section id="cabecalho" name="cabecalho">
    <header>
      <h1>
        {{title}}
      </h1>
    </header>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <form action="">
      <!--- Nome -->
      <div>
        <input type="text" name="name" id="name" placeholder="Nome">
      </div>

      <!-- Sobrenome -->
      <div>
        <input type="text" name="lastname" id="lastname" placeholder="Sobrenome">
      </div>

      <!-- Participação -->
      <div>
        <input type="number" name="share" id="share" placeholder="Participação">
      </div>

      <!-- Ações -->
      <div>
        <button type="submit">Enviar</button>
      </div>
    </form>
  </section>
</article>
